body{
    background-color: rgb(30,30,30);
    color: white;   
}
.p{
    display: flex;
    justify-content: space-between;
}
.p div{
    background-color: rgb(30,24,24);
    padding: 10px;
    border-radius: 5px;
}