.section2{
    display: flex;
    justify-content: space-between;
}
body{
    background-color: rgb(30, 30, 30);
    color: rgb(235, 235, 235);
    margin: 0;
}
.offre{
    outline: solid white 1px;
    background-color: rgb(30, 28, 28);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    width: 25%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button{
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 20px;
    outline: solid rgb(30, 30, 30) 1px;
}
button:hover{
    background-color: rgb(205, 205 , 205);
    transition-duration: 0.5s;
.im{
    display: flex;
    justify-content: center;
}
.sec{
    font-family: Arial, sans-serif;
.Tel {
color: rgba(152, 185, 18, 0.838);
background-color: rgba(14, 14, 14, 0.923)
}

.ip {
color:rgba(168, 199, 13, 0.855);
background-color: rgba(14, 14, 14, 0.923)
}

.header-nav {
display: flex;
background-color: rgba(14, 14, 14, 0.923);
justify-content: space-between;
}