.Tel {
color: rgba(152, 185, 18, 0.838);
background-color: rgba(14, 14, 14, 0.923)
}

.ip {
color:rgba(168, 199, 13, 0.855);
background-color: rgba(14, 14, 14, 0.923)
}

.header-nav {
display: flex;
background-color: rgba(14, 14, 14, 0.923);
justify-content: space-between;
}
body {
    background-color: rgb(30,30,30);
    color: white;
}